.App {
  width: 100vw;
  height: 100vh;
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.game_area {
  /* background-color: black; */
  width: 307px;
  height: 307px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  margin: 0;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square > p {
  font-size: 60px;

}

.links {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}